body {
    background-color: mintcream;
    color: indigo;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align: center;
}

nav a {
    margin-left: 15px;
    background: red;
    color: ivory;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 15px;
}