:root {
    --dark_primary: #00769b;
    --light_primary: #B2DFDB;
    --primary_color: #009688;
    --light_text: #ffffff;
    --accent_color: #795548;
    --primary_text: #212121;
    --secondary_text: #757575;
    --divider: #bdbdbd;
    --main_text: "Roboto Mono", monospace;
    --header_text: "Roboto", sans-serif;
}

body {
    background-color: var(--light_primary);
    color: var(--primary_text);
    font-family: var(--main_text);
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    background-color: var(--dark_primary);
    border: 2px solid ivory;
    padding: 10px 20px;
    margin-left: 15px;
    color: ivory;
    border-radius: 20px;
}

header,
footer {
    background-color: var(--dark_primary);
    text-align: center;
    color: var(--accent_color);
    padding: 20px;
    font-family: var(--header_text);
}

h1 {
    color: var(--accent_color);
    text-align: center;
}

h2 {
    color: var(--accent_color);
    text-align: center;
}

img,
figcaption {
    text-align: center;
    width: 500px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.container {
    width: 80%;
    background: var(--divider);
    border: 2px solid var(--primary_color);
    margin: 20px auto;
    padding: 0px;
}

a {
    text-decoration: none;
    color: var(--dark_primary);
    font-weight: bold;
    margin: 20px 50px;

}

a:hover {
    color: var(--primary_color);
    text-decoration: underline;
}

a:hover {
    color: var(--accent_color);
    text-decoration: underline;

}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.column {
    flex: 1;
}

.column img {
    width: 100%;
    height: auto;
    display: block;
}

.text-column {
    flex: 2;
    text-align: center;
}

.column2 img {
    width: 50%;
    height: auto;
    display: block;
}